<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to Sgtn.t('devise.mailer.Confirm.my.account', 'views'), confirmation_url(@resource, :confirmation_token => @token) %></p>
